body {
	font-size: 15px;
}



footer {
	background-color: #F0F0F0 !important
}

.name {
	margin: 0;
}

.card-title {
	text-overflow: ellipsis;
	white-space: nowrap;;
	overflow: hidden;
}

.card-button {
	background-color: #32cd32;
	border-radius: 7px;
	border: 0;
	color: #ffffff;
	font-size: 1.2em;
	outline: none;
}

.card-button:focus{
	outline: none;
}

.card-cost {
	font-size: 1.5em;
}

.info {
	height: 500px;
	background-color: #F0F0F0;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

.card:hover {
	transform: scale(1.08);
	transition: 0.2s;
}

.card {
	transition: transform 0.2s;
}

.btn:hover{
	color: #ffffff !important;
}
