.navbar {
	background-color: #F0A03D !important
}

footer {
	background-color: #F0F0F0 !important
}

.name {
	margin: 0;
}

.card-text {
	text-overflow: ellipsis;
	overflow: hidden;
}

.info {
	height: 500px;
	background-color: #F0F0F0;
}

a, a:hover {
	text-decoration: none;
	color: black;
}
