<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="cart">
        {{#each items}}
        <div class="items">
            <div class="item">
                <h2>{{this.item.itemName}}</h2>
                <p class="description">{{this.item.description}}</p>
                <p class="cost">{{this.item.cost}}</p>
                <button class="delete-item" data-id="{{this.item._id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    <script src="scripts/cart.js"></script>
</body>
</html>