<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {{!-- <p>hello</p> --}}
    <div class="items">
            <div class="item">
                <h2>{{itemName}}</h2>
                <p class="description">{{description}}</p>
                <p class="cost">{{cost}}</p>
                <a href="/cart" name="cart" data-id="{{_id}}">Корзина</a>
            </div>
        </div>
</body>
</html>