<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap" rel="stylesheet">
    <title>MainPage</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/"><li>Главная</li></a>
                <a href="/items"><li>Категории</li></a>
                <a href="/reviews"><li>Отзывы</li></a>
                <a href="/partner"><li>Сотрудничество</li></a>
            </ul>
            <div class="profile" id="profile">
                <p><a href="/signup">Sign up</a> or <a href="/login">Sign in</a></p>
            </div>
        </nav>
    </header>
    <section class="wrapper main">
        <h1>Welcome to my E-Shop</h1>
        <div class="items" id="items">
            {{#each items}}
                <div class="card">
                    <h2 class="itemName">{{this.itemName}}</h2>
                    <p class="description">{{this.description}}</p>
                    <p class="cost">{{this.cost}}</p>
                </div>
            {{/each}}
        </div>
    </section>
</body>
</html>