<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <title>MainPage</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>LOREM IPS</li>
                <li>LOREM IPS</li>
                <li>LOREM IPS</li>
                <li>LOREM IPS</li>
                <li>LOREM IPS</li>
            </ul>
            <div class="profile" id="profile">
                <a href="/login">Login</a>
            </div>
        </nav>
    </header>
</body>
</html>